In [60]:
import pandas as pd

df = pd.read_csv("focus_azure_billing/focus_billing.csv")

/tmp/ipykernel_554/215766655.py:3: DtypeWarning: Columns (21,24,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("focus_azure_billing/focus_billing.csv")

In [54]:
display(df)

,ContractedCost,ContractedUnitPrice,ListCost,ListUnitPrice,PricingQuantity,PricingUnit,RegionName,ResourceType,SkuId,AvailabilityZone,...,RegionId,ResourceId,ResourceName,ServiceCategory,ServiceName,SkuPriceId,SubAccountId,SubAccountName,BillingMonth,BillingWeek
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UsageBased,...,WestUS,/SUBSCRIPTIONS/1CAAA5A3-2B66-438E-8AB4-BCE37D5...,NaN,NaN,MICROSOFT.LOGIC,NaN,1caaa5a3-2b66-438e-8ab4-bce37d518c5d,Cost Management Research,NaT,NaT
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UsageBased,...,WestUS,/SUBSCRIPTIONS/1CAAA5A3-2B66-438E-8AB4-BCE37D5...,NaN,NaN,MICROSOFT.LOGIC,NaN,1caaa5a3-2b66-438e-8ab4-bce37d518c5d,Cost Management Research,NaT,NaT
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UsageBased,...,WestUS,/SUBSCRIPTIONS/1CAAA5A3-2B66-438E-8AB4-BCE37D5...,NaN,NaN,MICROSOFT.LOGIC,NaN,1caaa5a3-2b66-438e-8ab4-bce37d518c5d,Cost Management Research,NaT,NaT
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UsageBased,...,WestUS,/SUBSCRIPTIONS/1CAAA5A3-2B66-438E-8AB4-BCE37D5...,NaN,NaN,MICROSOFT.LOGIC,NaN,1caaa5a3-2b66-438e-8ab4-bce37d518c5d,Cost Management Research,NaT,NaT
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UsageBased,...,WestUS,/SUBSCRIPTIONS/1CAAA5A3-2B66-438E-8AB4-BCE37D5...,NaN,NaN,MICROSOFT.LOGIC,NaN,1caaa5a3-2b66-438e-8ab4-bce37d518c5d,Cost Management Research,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135248,NaN,MS-AZR-0017P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,EastUS,/subscriptions/9ec51cfd-5ca7-4d76-8101-dd0a4ab...,"""""org"""": """"trey""""",Networking,microsoft.network,NaN,9ec51cfd-5ca7-4d76-8101-dd0a4abc5674,Trey Research Corporate,NaT,NaT
135249,NaN,MS-AZR-0017P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,EastUS,/subscriptions/9ec51cfd-5ca7-4d76-8101-dd0a4ab...,"""""org"""": """"trey""""",Networking,microsoft.network,NaN,ed570627-0265-4620-bb42-bae06bcfa914,Trey Research IT,NaT,NaT
135250,NaN,MS-AZR-0017P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,EastUS,/subscriptions/9ec51cfd-5ca7-4d76-8101-dd0a4ab...,"""""org"""": """"trey""""",Networking,microsoft.network,NaN,ed570627-0265-4620-bb42-bae06bcfa914,Trey Research IT,NaT,NaT
135251,NaN,MS-AZR-0017P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,EastUS,/subscriptions/9ec51cfd-5ca7-4d76-8101-dd0a4ab...,"""""org"""": """"trey""""",Networking,microsoft.network,NaN,9ec51cfd-5ca7-4d76-8101-dd0a4abc5674,Trey Research Corporate,NaT,NaT
135252,NaN,MS-AZR-0017P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,EastUS,/subscriptions/9ec51cfd-5ca7-4d76-8101-dd0a4ab...,"""""org"""": """"trey""""",Networking,microsoft.network,NaN,9ec51cfd-5ca7-4d76-8101-dd0a4abc5674,Trey Research Corporate,NaT,NaT

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135253 entries, 0 to 135252
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ContractedCost              4123 non-null    float64
 1   ContractedUnitPrice         23150 non-null   object
 2   ListCost                    4123 non-null    float64
 3   ListUnitPrice               4123 non-null    float64
 4   PricingQuantity             4123 non-null    object
 5   PricingUnit                 4123 non-null    object
 6   RegionName                  1528 non-null    object
 7   ResourceType                4123 non-null    object
 8   SkuId                       4123 non-null    object
 9   AvailabilityZone            103638 non-null  object
 10  BilledCost                  135253 non-null  float64
 11  BillingAccountId            108864 non-null  object
 12  BillingAccountName          115385 non-null  object
 13  BillingCurrency             106599 non-null  object
 14  BillingPeriodEnd            8059 non-null    object
 15  BillingPeriodStart          4124 non-null    object
 16  ChargeCategory              135253 non-null  object
 17  ChargeDescription           135253 non-null  object
 18  ChargeFrequency             135253 non-null  object
 19  ChargePeriodEnd             135253 non-null  object
 20  ChargePeriodStart           4124 non-null    object
 21  CommitmentDiscountCategory  1 non-null       object
 22  CommitmentDiscountId        118792 non-null  object
 23  CommitmentDiscountName      119928 non-null  object
 24  CommitmentDiscountType      1 non-null       object
 25  ConsumedQuantity            135253 non-null  float64
 26  ConsumedUnit                135231 non-null  object
 27  EffectiveCost               135253 non-null  float64
 28  InvoiceIssuer               135253 non-null  object
 29  PricingCategory             135253 non-null  object
 30  Provider                    135253 non-null  object
 31  Publisher                   66635 non-null   object
 32  RegionId                    135253 non-null  object
 33  ResourceId                  135253 non-null  object
 34  ResourceName                116105 non-null  object
 35  ServiceCategory             9394 non-null    object
 36  ServiceName                 135253 non-null  object
 37  SkuPriceId                  0 non-null       float64
 38  SubAccountId                135253 non-null  object
 39  SubAccountName              135253 non-null  object
dtypes: float64(7), object(33)
memory usage: 41.3+ MB

In [40]:
total_billed_cost = df['BilledCost'].sum()

print(f"Total Billed Cost: ${total_billed_cost:.2f}")

Total Billed Cost: $35445.86

In [14]:
df['BillingMonth'] = df['BillingPeriodStart'].dt.to_period('M')
monthly_trend = df.groupby('BillingMonth')['BilledCost'].sum().reset_index()

display(monthly_trend)

  BillingMonth    BilledCost
0      2024-06  22688.088325

In [46]:
df['BillingWeek'] = df['BillingPeriodStart'].dt.to_period('W')  # Extract week
weekly_trend = df.groupby('BillingWeek')['BilledCost'].sum().reset_index()
weekly_trend = weekly_trend.sort_values(by='BillingWeek')

display(weekly_trend)

             BillingWeek    BilledCost
0  2024-05-27/2024-06-02  22688.088325

In [38]:
service_cost = df.groupby('ServiceCategory')['BilledCost'].sum().reset_index()
service_cost = service_cost.sort_values(by='BilledCost', ascending=False)

display(service_cost)

             ServiceCategory   BilledCost
4                        Web  1918.446073
3                 Networking   487.831299
2  Management and Governance   149.036098
1            Developer Tools    10.000000
0                    Compute     7.435236

In [32]:
resource_cost = df.groupby('ResourceType')['BilledCost'].sum().reset_index()
resource_cost = resource_cost.sort_values(by='BilledCost', ascending=False)

display(resource_cost)

                ResourceType    BilledCost
2                       Data  20551.680879
3                  Databases   1610.970860
8                    Storage    369.332693
7                   Security     99.806236
6                 Networking     29.845527
1                    Compute      5.811000
5  Management and Governance      0.000970
0                  Analytics      0.000160
4                Integration      0.000000

In [34]:
reservation_analysis = df.groupby('ChargeCategory')['BilledCost'].sum().reset_index()
reservation_analysis = reservation_analysis.sort_values(by='BilledCost', ascending=False)

display(reservation_analysis)

  ChargeCategory    BilledCost
2          Usage  22667.448325
0     Adjustment  12757.770705
1       Purchase     20.640000